@media only screen and (max-width: 1100px) and (orientation: portrait) {
    html {
        font-size: 0.5rem;
    }
}

body {
    background-color: #ced;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    position: fixed;
    top: calc(50vh - 8rem);
    left: calc(50vw - 8rem);
    width: 16rem;
    height: 16rem;
    border: #000 solid 0.0625rem;
    background-color: #ced;
    border-radius: 50%;
    z-index: 100;
}

#middle button {
    display: block;
    margin: 0 auto;
    padding: 0.3rem;
    color: #000;
    height: 3rem;
    width: 7rem;
    font-size: 1.4rem;
}
/*
#middle button:hover {
    background-color: #bcdccc;
}

#middle button:active {
    border-top: #999 0.25rem solid;
    border-left: #999 0.25rem solid;
    border-right: #eee 0.25rem solid;
    border-bottom: #eee 0.25rem solid;
}
*/
header {
    position: fixed;
    top: 0;
    left: 2vw;
}

h1 {
    font-size: 2rem;
}

#rotate {
    position: fixed;
    width: 43.75rem;
    height: 43.75rem;
    transform-origin: 50% 50.15%;
}

#wheels {
    position: fixed;
    width: 43.75rem;
    height: 43.75rem;
    user-select: none;
}

#wheel1,
#wheel2,
#wheel3 {
    position: absolute;
}

#wheel1 {
    top: 3.125rem;
    left: 3.125rem;
    width: 37.5rem;
    height: 37.5rem;
}

#wheel2 {
    top: 0;
    left: 0;
    width: 43.75rem;
    height: 43.75rem;
    z-index: 100;
}

#wheel3 {
    border: none;
    top: 0;
    left: 0;
    width: 43.75rem;
    height: 43.75rem;
    z-index: -100;
}

.wheel {
    border-radius: 50%;
    border: 0.0625rem solid #000;
}

.sector {
    position: absolute;
    width: 50%;
    height: 100%;
    transform-origin: right;
    text-align: center;
    line-height: 18.75rem;
    border-right: 0.0625rem solid #555;
    font-size: 1.5rem;
}

.sector:nth-child(1) {
    transform: rotate(0deg);
    z-index: 1;
}

.sector:nth-child(2) {
    transform: rotate(30deg);
    z-index: 2;
}

.sector:nth-child(3) {
    transform: rotate(60deg);
    z-index: 3;
}

.sector:nth-child(4) {
    transform: rotate(90deg);
}

.sector:nth-child(5) {
    transform: rotate(120deg);
}

.sector:nth-child(6) {
    transform: rotate(150deg);
}

.sector:nth-child(7) {
    transform: rotate(180deg);
}

.sector:nth-child(8) {
    transform: rotate(210deg);
}

.sector:nth-child(9) {
    transform: rotate(240deg);
}

.sector:nth-child(10) {
    transform: rotate(270deg);
}

.sector:nth-child(11) {
    transform: rotate(300deg);
}

.sector:nth-child(12) {
    transform: rotate(330deg);
}

.text {
    transform: rotate(-45deg);
}

#wheel2 .text {
    position: relative;
    left: -0.75rem;
    top: 0.75rem;
}

#wheel3 .text {
    position: relative;
    left: -3.25rem;
    top: -1.75rem;
}

#wheel3 .sector {
    border: none;
}